<div class="widget text-center-widget">
    <a href="imprint.html"><img src="images/imprint.png" alt="Imprint &amp; Disclaimer" title="Imprint &amp; Disclaimer" loading="lazy"></a>
    <a href="https://github.com/melcom-creations/melcom-music" target="_blank" rel="noopener noreferrer"><img src="images/GitHub-Pages-Button88x31.png" alt="Hosted by GitHub Pages" title="Hosted by GitHub Pages" width="88" height="31" loading="lazy"></a>
    <a href="https://validator.w3.org/nu/?doc=https://www.melcom-music.de" target="_blank" rel="noopener noreferrer"><img src="images/W3C-Button88x31.png" alt="melcom-valid HTML5" title="melcom-valid HTML5" width="88" height="31" loading="lazy"></a>
</div>
