<div class="widget">
    <h2 class="widget-title">🔗 Social Media</h2>
    <div class="social-icons">
        <a href="https://linktr.ee/melcom" rel="noopener noreferrer" target="_blank"><img src="images/linktr.png" alt="Linktree" loading="lazy"></a>
        <a href="https://youtube.com/@melcom" rel="noopener noreferrer" target="_blank"><img src="images/youtube.jpg" alt="YouTube" loading="lazy"></a>
        <a href="https://bsky.app/profile/melcom-music.bsky.social" rel="noopener noreferrer" target="_blank"><img src="images/bluesky_168x168.jpg" alt="Bluesky" loading="lazy"></a>
        <a href="https://www.instagram.com/just.melcom/" rel="noopener noreferrer" target="_blank"><img src="images/instagram.jpg" alt="Instagram" loading="lazy"></a>
        <a href="https://www.threads.net/@just.melcom" rel="noopener noreferrer" target="_blank"><img src="images/threads.png" alt="Threads" loading="lazy"></a>
        <a href="https://mastodon.social/@melcom" rel="noopener noreferrer" target="_blank"><img src="images/Mastodon_Logotype_(Simple)186x200.svg.png" alt="Mastodon" loading="lazy"></a>
        <a href="https://twitter.com/melcom_" rel="noopener noreferrer" target="_blank"><img src="images/twitter.jpg" alt="Twitter" loading="lazy"></a>
        <a href="https://www.pinterest.de/melcom_/" rel="noopener noreferrer" target="_blank"><img src="images/pinterest.png" alt="Pinterest" loading="lazy"></a>
        <a href="https://open.spotify.com/artist/5UIgac40dS3OEC0FGHDxRw" rel="noopener noreferrer" target="_blank"><img src="images/spotify.jpg" alt="Spotify" loading="lazy"></a>
        <a href="https://soundcloud.com/melcom" rel="noopener noreferrer" target="_blank"><img src="images/soundcloud.jpg" alt="Soundcloud" loading="lazy"></a>
    </div>
</div>
